@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-list {

    padding: 1rem;

    @include tablet {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__title {
        color: $primary-color-medium;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 700;
    }
    
}