// Color palette //

$primary-color-dark: #323232;
$primary-color-medium: #AFAFAF;
$primary-color-bright: #FFFFFF;
$primary-color-contrast: #0095FF;
$secondary-color-dark: #000000;
$secondary-color-medium: #E1E1E1;
$secondary-color-bright: #FAFAFA;
$secondary-color-contrast: #0065AD;



// Breakpoints //

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


// Mobile padding and text styles //

$padding-before-headlines: 1.5rem;

$padding-after-headlines: 1rem;

$padding-between-components: 1rem;


