// Color palette //

$primary-color-dark: #323232;
$primary-color-medium: #AFAFAF;
$primary-color-bright: #FFFFFF;
$primary-color-contrast: #0095FF;
$secondary-color-dark: #000000;
$secondary-color-medium: #E1E1E1;
$secondary-color-bright: #FAFAFA;
$secondary-color-contrast: #0065AD;



// Breakpoints //

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


// Mobile padding and text styles //

$padding-before-headlines: 1.5rem;

$padding-after-headlines: 1rem;

$padding-between-components: 1rem;


// // Page Header

// font-size: 0.75rem;
// line-height: 1.25rem;
// font-weight: Bold 700;

// // SECTION HEADER

// font-size: 0.8125rem;
// line-height: 1.125rem;
// font-weight: Bold 700;
// text-transform: uppercase;

// // Subheader

// font-size: 0.8125rem;
// line-height: 1.125;
// font-weight: Regular 400;

// // Body Copy

// font-size: 0.625rem;
// line-height: 1.25rem;
// font-weight: Bold 700;

// // LABELS & BUTTONS

// font-size: 0.72rem;
// line-height: 1.25rem;
// font-weight: Bold 700;
// text-transform: uppercase;

// // Desktop & tablet padding and text styles //

// $padding-before-headlines: 2.25rem;

// $padding-after-headlines: 1.5rem;

// $padding-between-components: 1.5rem;

// // Page Header

// font-size: 2.0625rem;
// line-height: 2.75rem;
// font-weight: Bold 700;


// // SECTION HEADER

// font-size: 0.75rem;
// line-height: 1.25rem;
// font-weight: Bold 700;
// text-transform: uppercase;

// // Subheader

// font-size: 0.875rem;
// line-height: 1.375rem;
// font-weight: Bold 700;

// // Body Copy

// font-size: 0.875rem;
// line-height: 1.375rem;
// font-weight: Regular 400;

// // LABELS & BUTTONS

// font-size: 0.75rem;
// line-height: 1.25rem;
// font-weight: Bold 700;
// text-transform: uppercase;

