@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment-list {
    padding: 0 1rem;
    
    @include tablet {
        padding: 0 2rem;
    }

    @include desktop {
        padding-left: 8rem;
        padding-right: 0;
    }
}

