@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/fonts' as *;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.app {
    font-family: 'AvenirNext LT Pro';

    &__main-wrapper {
        @include desktop {
            display: flex;
        }
    }

    &__video-content {
        @include desktop {
            width: 70%;
            border-right: 1px solid $secondary-color-medium;
        }
    }
}