@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/fonts' as *;
@use './styles/partials/mixins' as *;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    // outline: 1px solid purple;
}

.App__container {
    padding: 1rem;
    font-family: 'AvenirNext LT Pro';
}